{% extends '::base.html.twig' %}
{% block body %}
    <div id="app-region" class="table table-hover">
    </div>

    <script id="album-item" type="text/template">
        <td>
            <%= id %>
        </td>
        <td>
            <%= title %>
        </td>
        <td>
            <%= description %>
        </td>
        <td>
            <%= author.username %>
        </td>
        <td>
            <%= images_count %>
        </td>
        <td>
            <a href="#album/<%= id %>" class="btn btn-primary">View album</a>
        </td>
    </script>

    <script id="album-item-collection" type="text/template">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Images</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </script>

    <script id="image-container" type="text/template">
        <div class="col-xs-6 col-md-3" id="#container"></div>
    </script>

    <script id="single-album" type="text/template">
        <a href="#" class="thumbnail">
            <img src="/images/<%= image.path %>" title="<%= image.title %>">
        </a>
    </script>

    <script id="album-layout" type="text/template">
        <div class="row">
            <div id="album-info" class="col-md-12">
                <h1><%= title %></h1>
                <p><%= description %></p>
            </div>
            <div id="images" class="col-md-12">
                IMAGES
            </div>
        </div>
    </script>

    <script type="text/template" id="single-image">
        <div class="col-xs-6 col-md-3">
            <a href="/images/<%= path %>" class="thumbnail">
                <img src="/images/<%= path %>" alt="<%= title %>">
            </a>
        </div>
    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/requirejs/require.js') }}"
            data-main="{{ asset("assets/js/main.js") }}"></script>
{% endblock %}