{% extends '::base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Login</h1>
    <p>You must be logged in to view albums.</p>

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me
            </label>
        </div>
        {#
           If you want to control the URL the user
           is redirected to on success (more details below)
           <input type="hidden" name="_target_path" value="/account" />
         #}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}